{% extends 'food/base.html' %}
<!DOCTYPE html>
{% block body %}
    <div class="container">
        {% for item in item_list %}
            <div class="row d-flex justify-content-around border  rounded my-1">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card" width="200px"  >
                        <img  height="150px" src="{{ item.item_image }}" class="image-fluid rounded"/>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 ">
                    <div class="#">
                        <h3>{{ item.item_name }}</h3>
                        <h6>$ {{ item.item_price }}</h6>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-3 px-auto d-flex justify-content-sm-center justify-content-center align-items-md-center">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
    old code

    {% for item in item_list %}
        <ul>
            <li>
                <!-- <a href="/food/{{ item.id }}"> <p>{{ item.id }} --- {{ item.item_name }}</p> </a> -->
                <a href="{% url 'food:detail' item.id %}"><p>{{ item.id }} --- {{ item.item_name }}</p></a>
            </li>
        </ul>
    {% endfor %}
